$background-color: $color-white
$secondary-background-color: #AAAAAA
$text-color: $color-black
$trim-color: $color-black
$subtle-background: #EEEEEE

body.default-theme
    color: $text-color
    background: $background-color

    #breadcrumbs
        .crumb:not(:last-child)
            color: $color-link-blue
        .crumb:not(:last-child)::after
            color: $color-black

    .cursor
        // background-color: $secondary-background-color
        background-color: #666
        color: $background-color

    .highlight
        background-color: #CCC // #FFA

    .menuSelected
        background-color: $subtle-background

    .link
        text-decoration: none
        color: $color-link-blue

    #mode
        background: $secondary-background-color

    #bottom-bar
        background-color: $background-color

    .modal-dialog > div
        background-color: $background-color
        border: 1px solid $trim-color

    #settings th
        background: $secondary-background-color

    #settings-link
        background: $secondary-background-color
        color: $text-color

    .searchBox
        border: 1px solid $trim-color

    .mark
        border: 1px solid $trim-color
        background-color: $subtle-background
        &.active
            background-color: #FFFF88

