extends layout

block morehead
  - var bodyClass = 'index'

block content
    #contents
        #menu.hidden
        #view
        #keybindings
        .modal-dialog#settings
            .modal-contents
                a.modal-close(href="#") X
                table
                    tr
                        th Visual Theme
                        td
                            select.theme-selection
                                option(value="default-theme" selected=selected) Default
                                option(value="dark-theme") Dark
                                option(value="solarized_dark-theme") Solarized Dark
                                option(value="solarized_light-theme") Solarized Light
                    tr
                        th Export
                        td
                            select.export-fileformat-selection
                                option(value="vimflowy.json" selected=selected) Export as JSON
                                option(value="vimflowy.txt") Export as text

                            button#export_submit(style='float:right') Export!
                    tr
                        th Import
                        td#import-file
                            input(type="file" name="import-file")
                            button#import_submit(style='float:right') Import!

    #bottom-bar
        a#settings-link.center(href='#settings')
          span.fa.fa-cog(style='margin-right:10px')
          span Menu

        #message
        #mode.center

    a#export.hidden
