extends layout

block morehead
  - var bodyClass = 'index'

block content
  #contents
    #menu.hidden
    #view
    #keybindings
    .modal-dialog#settings
        div
            a.close(title="Close" href="#close") X
            h2 Settings
            span Visual Theme: 
            select#theme-selection
                option(value="default-theme" selected=selected) Default theme
                option(value="dark-theme") Dark

  #bottom-bar
    #mode.center
    a#settings-link.center(href="#settings") Settings
