extends layout

block morehead
  - var bodyClass = 'index'

block content
    #contents
        #menu.hidden
        #view
        #keybindings
        .modal-dialog#settings
            .modal-contents
                a.modal-close(href="#") X
                table
                    tr
                        td Visual Theme:
                        td
                            select.theme-selection
                                option(value="default-theme" selected=selected) Default
                                option(value="dark-theme") Dark
                                option(value="solarized_dark-theme") Solarized Dark
                                option(value="solarized_light-theme") Solarized Light
                    tr
                        td Export Format:
                        td
                            select.export-fileformat-selection
                                option(value="vimflowy.json" selected=selected) JSON
                                option(value="vimflowy.txt") Text
        .modal-dialog#import-file
            .modal-contents
                a.modal-close(href="#") X
                div.title Import File
                div.import
                    input(type="file" name="import-file")
                    input(type="submit" value="Import").submit

    #bottom-bar
        #mode.center
        #message
        a#settings-link.center(href='#settings')
          span.fa.fa-cog(style='margin-right:10px')
          span Settings

    a#export.hidden
