extends layout

block morehead
  - var bodyClass = 'index'

block content
    #contents
        #menu.hidden
        #view
        #keybindings

    #settings.hidden
        #settings-left
            .settings-header Visual Theme
            .settings-content
                select.theme-selection
                    option(value="default-theme" selected=selected) Default
                    option(value="dark-theme") Dark
                    option(value="solarized_dark-theme") Solarized Dark
                    option(value="solarized_light-theme") Solarized Light

            .settings-header Export
            .settings-content
                select.export-fileformat-selection
                    option(value="vimflowy.json" selected=selected) Export as JSON
                    option(value="vimflowy.txt") Export as text

                button.btn#export_submit(style='float:right') Export!

            .settings-header Import
            .settings-content
                #import-file
                    input(type="file" name="import-file")
                    button.btn#import_submit(style='float:right') Import!

        #settings-right
            .settings-header Hotkeys
            .settings-content
                | Configurable hotkeys coming soon!
                // button.btn#hotkeys_edit(style='float:left') Edit
                // button.btn#hotkeys_default(style='float:left') Load defaults
                // button.btn#hotkeys_export(style='float:left') Export as file
                // button.btn#hotkeys_import(style='float:left') Import from file
                // input(type="file" name="hotkeys-file" style='float:left')

    #bottom-bar
        a#settings-link.center
          span#settings-icon.fa(style='margin-right:10px')
          span#settings-text

        #message
        #mode.center

    a#export.hidden
