extends layout

block morehead
  - var bodyClass = 'index'

block content
    #contents
        #menu.hidden
        #view
        #keybindings
        .modal-dialog#settings
            .modal-contents
                a.modal-close(href="#close") X
                table
                    tr
                        td Visual Theme:
                        td
                            select#theme-selection
                                option(value="default-theme" selected=selected) Default theme
                                option(value="dark-theme") Dark
                    tr
                        td Export Format:
                        td
                            select#export-fileformat-selection
                                option(value="vimflowy.json" selected=selected) JSON
                                option(value="vimflowy.txt") Text

    #bottom-bar
        #mode.center
        a#settings-link.center(href='#settings')
          span.fa.fa-cog(style='margin-right:10px')
          span Settings

    a#export.hidden
