html
  head
    title Vimflowy

    != css('app')

    block morehead

  body(class=bodyClass)
    block content

    script(src='/jquery-2.1.1.min.js')
    script(src='/jquery.cookie.min.js')
    script(src='/underscore-min.js')
    != js('app.js')
    block morefoot
