html
  head
    title Vimflowy

    != css('app')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    block morehead

  body(class='default-theme')
    block content

    script(src='/jquery-2.1.1.min.js')
    script(src='/jquery.cookie.min.js')
    script(src='/underscore-min.js')
    != js('app.js')
    block morefoot
