html
  head
    title Vimflowy

    != css('app')
    link(rel="stylesheet" href="/font-awesome.min.css")
    link(rel="icon" type="image/png" href="images/vimflowy-32.png")

    block morehead

  body(class='default-theme')
    block content

    script(src='/jquery-2.1.1.min.js')
    script(src='/jquery.cookie.min.js')
    script(src='/underscore-min.js')
    script(src='/virtual-dom.js')
    != js('app.js')
    block morefoot
