@import mixins

body, html
    margin: 0
    font-family: 'Monaco', monospace // Courier New?

$bottom-bar-height: 25px
#bottom-bar
    z-index: 3
    position: absolute
    bottom: 0px
    height: $bottom-bar-height
    border-left   : 0px !important;
    border-right  : 0px !important;
    border-bottom : 0px !important;
    width: 100%
    font-size: 12px

    $vertical-padding: 5px
    $horizontal-padding: 15px

    & > div, & > a
        position: relative
        float: left
        height: $bottom-bar-height - 2 * $vertical-padding
        padding: $vertical-padding $horizontal-padding

    $mode-width: 80px // must cover visual line

    #mode
        width: $mode-width
        float: right

    #message
        padding-left: 20px

    $settings-link-width: 100px

    #settings-link
        width: $settings-link-width
        text-decoration: none
        cursor: pointer

.btn
    padding: 5px
    border-radius: 5px
    font-size: 11px
    cursor: pointer
    margin: 0px 5px
    &:focus
      outline: 0

.keybindings-table
    width: 100%
    td
        font-size: 10px
        border: 1px solid
        padding: 5px

#settings
    position: absolute
    width: 100%
    @include calc(height, '100% - #{$bottom-bar-height}')
    z-index: 2
    overflow-y: auto

    .tabs, .tab-pane
        margin: 20px

    .settings-content
        padding: 20px 0px

    .settings-header
        $header-padding: 5px
        @include calc(width, '100% - #{2 * $header-padding}')
        border-radius: 5px
        -moz-border-radius: 5px
        padding: $header-padding

    #hotkey-actions
        margin-bottom: 10px

    #hotkey-edit
        min-height: 100px

        #hotkey-edit-normal, #hotkey-edit-insert
            display: inline-block
            width: 50%
            height: 100%
            vertical-align: top

    #plugins > table
        width: 100%
        border-collapse: collapse
        & > tr:nth-child(even)
            background-color: #EAF2D3
        .plugin-version
            max-width: 25px
        .plugin-status
            max-width: 30px
        .plugin-actions
            max-width: 100px
            .btn
                width: 60px

#contents
    display: flex
    flex-direction: row
    bottom: $bottom-bar-height
    position: absolute
    width: 100%
    @include calc(height, '100% - #{$bottom-bar-height}')

    #keybindings
        position: relative
        flex: 0 1 auto
        width: 0%
        height: 100%
        overflow-y: auto

        @include transition(width 0.2s ease-in-out)

        &.active
            min-width: 500px

    #view, #menu
        $content-padding: 50px
        padding: $content-padding

        @include calc(height, '100% - #{2 * $content-padding}')
        width: 100%

        overflow-y: auto

    #view
        flex: 1 1 auto
        #breadcrumbs
            font-size: 20px
            margin-bottom: 20px
            .crumb:not(:last-child)::after
                font-family: FontAwesome
                // angle-right
                content: '\f105'
                margin-right: 20px
                margin-left: 20px

        font-size: 10px

// Tabs do not respect color styling right now
.tabs
    list-style: none
    position: relative
    z-index: 2
    & > li
        display: inline-block
        border: 1px solid #AAA
        margin: 0 10px
        padding: 0 10px
        min-height: 20px
        background: #ECECEC
        position: relative
        &.active
            background: #FFF
            color: #000
            z-index: 4
            border-bottom-color: #FFF
.tabs:after
    position: absolute
    content: ""
    width: 100%
    bottom: 0
    left: 0
    border-bottom: 1px solid #AAA
    z-index: 3
.tab-pane
    display: none
    &.active
        display: block
