$color-white: #FFFFFF
$color-black: #000000
$color-link-blue: #8888FF

$content-color: $color-white

body, html
    margin: 0
    color: #000
    background: $content-color
    font-family: 'Monaco', monospace

$bottom-bar-height: 25px
#bottom-bar

    background-color: $color-white
    z-index: 1
    position: absolute
    bottom: 0px
    height: $bottom-bar-height
    border-top: 1px solid black
    width: 100%

    $vertical-padding: 5px
    $horizontal-padding: 15px

    & > div
        position: relative
        float: left
        height: $bottom-bar-height - 2 * $vertical-padding
        padding: $vertical-padding $horizontal-padding

    $mode-width: 50px

    #mode
        font-size: 12px
        width: $mode-width
        background: #AAAAAA

    #exInput
        background: #FFFFFF

#contents
    display: flex
    flex-direction: row;
    bottom: $bottom-bar-height
    position: absolute
    width: 100%
    @include calc(height, '100% - #{$bottom-bar-height}')

    #keybindings
        position: relative
        flex: 0 1 auto;
        background: #CCCCCC
        width: 0%
        height: 100%
        overflow-y: scroll

        @include transition(width 0.2s ease-in-out)

        &.active
          min-width: 300px
          // @include calc( width, '100% - 100px')

        table
          width: 100%
          td
            font-size: 10px;
            border: 1px solid
            padding: 5px

    #view, #menu
        $content-padding: 50px
        padding: $content-padding

        @include calc(height, '100% - #{2 * $content-padding}')
        width: 100%

        overflow-y: scroll

    #view
        flex: 1 1 auto;
        #breadcrumbs
            font-size: 20px;
            margin-bottom: 20px;
            .crumb:not(:last-child)
               color: $color-link-blue
               cursor: pointer
            .crumb:not(:last-child)::after
               color: $color-black
               font-family: FontAwesome
               // angle-right
               content: '\f105'
               margin-right: 20px
               margin-left: 20px

        font-size: 10px;
