.node
    $node-padding: 50px

    padding-left: $node-padding

    // min height should be at least font size
    min-height: 25px
    font-size: 16px

    .bullet
        float: left
        position: relative
        display: inline-block
        // hack!
        margin-top: 2px
        margin-left: - $node-padding / 2 - 5

    .node-text
        margin-left: 10px
        display: block
        overflow-wrap: break-word
        white-space: pre-wrap

.searchBox
    white-space: pre-wrap

.cursor
    background-color: #AAA

.highlight
    background-color: #FFA
