extends layout

block content
    // hack for firefox paste
    #paste-hack.offscreen(contenteditable="true")

    #contents
        #menu.hidden
        #view
        #keybindings.theme-bg-secondary

    #settings.hidden.theme-bg-primary
        #settings-left
            .settings-header.theme-bg-secondary.theme-trim Visual Theme
            .settings-content
                select.theme-selection
                    option(value="default-theme" selected=selected) Default
                    option(value="dark-theme") Dark
                    option(value="solarized_dark-theme") Solarized Dark
                    option(value="solarized_light-theme") Solarized Light

            .settings-header.theme-bg-secondary.theme-trim Export
            .settings-content
                select.export-fileformat-selection
                    option(value="vimflowy.json" selected=selected) Export as JSON
                    option(value="vimflowy.txt") Export as text

                .btn.theme-bg-secondary.theme-trim#data_export(style='float:right') Export!

            .settings-header.theme-bg-secondary.theme-trim Import
            .settings-content
                #import-file
                    input(type="file" name="import-file")
                    .btn.theme-bg-secondary.theme-trim#data_import(style='float:right') Import!

        #settings-right
            .settings-header.theme-bg-secondary.theme-trim Hotkeys
            .settings-content
              #hotkey-actions.clearfix
                .btn.theme-bg-secondary.theme-trim#hotkeys_export(style='float:left') Export as file
                .btn.theme-bg-secondary.theme-trim#hotkeys_default(style='float:left') Load defaults
                .btn.theme-bg-secondary.theme-trim#hotkeys_import(style='float:left') Import from file
                input#hotkeys_file_input(type="file" name="hotkeys-file" style='float:left')
              #hotkey-edit
                #hotkey-edit-normal
                #hotkey-edit-insert

    #bottom-bar.theme-bg-primary.theme-trim
        a#settings-link.center.theme-bg-secondary
          span#settings-icon.fa(style='margin-right:10px')
          span#settings-text

        #message
        #mode.center.theme-bg-secondary

    a#export.hidden
