extends layout

block content
    // hack for firefox paste
    #paste-hack.offscreen(contenteditable="true")

    #contents
        #menu.hidden
        #view
        #keybindings.theme-bg-secondary

    #settings.hidden.theme-bg-primary
        // NOTE: settings-nav must have theme as well so that inherit works for tabs
        ul.tabs#settings-nav.theme-bg-primary
            li.theme-trim.theme-bg-secondary.active(data-tab="main-settings") Settings
            li.theme-trim.theme-bg-secondary(data-tab="hotkeys") Hotkeys
            li.theme-trim.theme-bg-secondary(data-tab="plugins") Plugins
        .tab-pane.active#main-settings
            .settings-header.theme-bg-secondary.theme-trim Visual Theme
            .settings-content
                select.theme-selection
                    option(value="default-theme" selected=selected) Default
                    option(value="dark-theme") Dark
                    option(value="solarized_dark-theme") Solarized Dark
                    option(value="solarized_light-theme") Solarized Light

            .settings-header.theme-bg-secondary.theme-trim Export
            .settings-content
                table
                    tr
                      td
                        .btn.theme-bg-secondary.theme-trim#data_export_json Export as JSON
                      td
                        | Best for vimflowy backups, re-imports preserving all features.
                    tr
                      td
                        .btn.theme-bg-secondary.theme-trim#data_export_plain Export as plaintext
                      td
                        | Workflowy compatible, but does not support some features, e.g. marks and clones

            .settings-header.theme-bg-secondary.theme-trim Import
            .settings-content
                #import-file
                    input(type="file" name="import-file" style="max-width:75%")
                    .btn.theme-bg-secondary.theme-trim#data_import(style='float:right') Import!

            .settings-header.theme-bg-secondary.theme-trim Info
            .settings-content
                | For more info, or to contact the maintainers, please visit
                = ' '
                a.theme-text-link(href="https://github.com/WuTheFWasThat/vimflowy") the github website
                | .

        .tab-pane#hotkeys
            .settings-content
              #hotkey-actions.clearfix
                .btn.theme-bg-secondary.theme-trim#hotkeys_export(style='float:left') Export as file
                .btn.theme-bg-secondary.theme-trim#hotkeys_default(style='float:left') Load defaults
                .btn.theme-bg-secondary.theme-trim#hotkeys_import(style='float:left') Import from file
                input#hotkeys_file_input(type="file" name="hotkeys-file" style='float:left')
              #hotkey-edit
                #hotkey-edit-normal
                #hotkey-edit-insert

        .tab-pane#plugins
            p.before-load Plugin system has not loaded.

    #bottom-bar.theme-bg-primary.theme-trim
        a#settings-link.center.theme-bg-secondary
          span#settings-icon.fa(style='margin-right:10px')
          span#settings-text

        #message
        #mode.center.theme-bg-secondary

    a#export.hidden
