html
  head
    title Vimflowy

    link(rel="stylesheet" href="/css/constants.css")
    link(rel="stylesheet" href="/css/utils.css")
    link(rel="stylesheet" href="/css/index.css")

    // template for themes
    link(rel="stylesheet" href="/css/view.css")

    // themes
    link(rel="stylesheet" href="/css/themes/default.css")
    link(rel="stylesheet" href="/css/themes/dark.css")
    link(rel="stylesheet" href="/css/themes/solarized_dark.css")
    link(rel="stylesheet" href="/css/themes/solarized_light.css")

    link(rel="stylesheet" href="/font-awesome.min.css")
    link(rel="icon" type="image/png" href="images/vimflowy-32.png")

    block morehead

  body.theme-bg-primary#default-theme
    block content

    script(src='/dependencies-online.js')
    script(src='/jquery-2.1.1.min.js')
    script(src='/jquery.cookie.min.js')
    script(src='/lodash.js')
    script(src='/virtual-dom.js')

    script(src='/js/constants.js')
    script(src='/js/errors.js')
    script(src='/js/utils.js')
    script(src='/js/logger.js')
    script(src='/js/eventEmitter.js')
    script(src='/js/keyEmitter.js')
    script(src='/js/keyHandler.js')

    script(src='/js/datastore.js')
    script(src='/js/data.js')
    script(src='/js/mutations.js')
    script(src='/js/cursor.js')
    script(src='/js/register.js')
    script(src='/js/settings.js')
    script(src='/js/plugins.js')
    script(src='/js/view.js')
    script(src='/js/menu.js')

    script(src='/js/keyDefinitions.js')
    each pluginJsFile in pluginJsFiles
      script(src='/js/plugin/' + pluginJsFile)

    script(src='/js/keyBindings.js')
    script(src='/js/index.js')

    block morefoot
